h1{
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-color: #FFF8DC;
}
h4{
	color: orange;
}
h3{
	color: green;
}
table{
	background-color: #b0e0e6;
}
.con{
  list-style-type: square;
}